<!DOCTYPE html>
<html>
<head>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">
        <% if current_user %>
        <li><%= link_to "Log Out", logout_path, :method => :delete %></li>
        <% else %>
        <li><%= render "/sessions/new"%></li>
        <li><%= render "/users/new"%></li>
        <% end %>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">Obedience</a></li>
        <li><a href="/">Herding</a></li>
        <li><a href="/">Rally</a></li>
        <li><a href="/">Agility</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/">Obedience</a></li>
        <li><a href="/">Herding</a></li>
        <li><a href="/">Rally</a></li>
        <li><a href="/">Agility</a></li>
      </ul>
    </div>
  </nav>

  <div class="container row">
    <div class = "welcomeSec">
      <img src="https://s30.postimg.org/cv2lz4zq9/Corgie_Title.gif"/>
      <p>The GGPWCF is the oldest regional affiliated of the <a href="http://www.pembrokecorgi.org/aclubs.html">Pembroke Welsh Corgie Club of America</a></p>
    </div>
  </div>

  <div class="container row">
    <nav style="border-radius: 24px; background: darkgreen;">
      <ul>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/specialties">Specialty</a></li>
        <li><a href="/contacts">Contact Us</a></li>
        <li><a href="/">Store</a></li>
      </ul>
    </nav>
  </div>

<%= yield %>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<script>
$(document).ready(function() {
  $(".button-collapse").sideNav();
  $('.modal-trigger').leanModal();
})
</script>

</body>
</html>
